@model IEnumerable<ClinicManagementSystem.Models.ProductModel>

@{
	ViewData["Title"] = "Shop";
	Layout = "~/Views/Shared/HomeLayout/_HomeLayout.cshtml";
}

<!-- breadcrumb-section - start
================================================== -->
<section id="breadcrumb-section" class="breadcrumb-section d-flex align-items-center decoration-wrap clearfix" data-background="/layout/homepage/assets/images/slider/bg_1.jpg">
	<div class="container text-center">
		<h1 class="page-title mb-3">Shop Page</h1>
		<div class="breadcrumb-nav ul-li-center clearfix">
			<ul class="clearfix">
				<li><a href="index.html">Home</a></li>
				<li><a href="shop-grid-3-column.html">Shop</a></li>
				<li class="active">Shop List</li>
			</ul>
		</div>
	</div>

	<span class="decoration-image pill-image-1">
		<img src="/layout/homepage/assets/images/decoration/pill_1.png" alt="pill_image_not_found">
	</span>
</section>
<!-- breadcrumb-section - end
================================================== -->
<!-- shop-section - start
================================================== -->
<section class="shop-section sec-ptb-100 pb-0 decoration-wrap clearfix">
	<div class="container">
		<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 order-last">
				<div class="filter-wrap border-bottom clearfix">
					<div class="row">
						<div class=" col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center justify-content-md-start">
							<p class="result-text">We found <span>@Model.Count()</span> products are available for you</p>
						</div>
						<div class=" col-md-6 col-sm-12 col-xs-12">
							<div class="dropdown select-option float-right">
								<button class="dropdown-toggle" type="button" id="filter-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="las la-bars"></i> Default Shorting
								</button>
								<div aria-labelledby="filter-options" class="dropdown-menu ul-li-block clearfix">
									<ul class="clearfix">
										<li><a href="#!">Option 1</a></li>
										<li><a href="#!">Option 2</a></li>
										<li><a href="#!">Option 3</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mb-70 clearfix">
					@foreach (var product in Model)
					{
						<div class="product-list clearfix">
							<div class="item-image">
								<a href="shop-details-1.html" class="image-wrap">
									<img src="@product.ImagePath" alt="@product.Name">
								</a>
								@if (product.Discount != null)
								{
									<div class="post-label ul-li-right clearfix">
										<ul class="clearfix">
											<li class="bg-skyblue">-$@product.Discount?.DiscountValue.ToString("00")</li>
										</ul>
									</div>
								}
							</div>

							<div class="rating-star ul-li clearfix">
								<ul class="clearfix">
									<li class="active"><i class="las la-star"></i></li>
									<li class="active"><i class="las la-star"></i></li>
									<li class="active"><i class="las la-star"></i></li>
									<li class="active"><i class="las la-star"></i></li>
									<li><i class="las la-star"></i></li>
								</ul>
							</div>

							<div class="item-content">
								<span class="post-type">@product.Category?.Name</span>
								<h3 class="item-title">
									<a href="shop-details-1.html">@product.Name</a>
								</h3>
								<div class="mb-2 d-flex align-items-center">
									@if (product.Discount != null)
									{
										var discountedPrice = product.Price - product.Discount.DiscountValue;
										<del class="mr-2 ">$@product.Price.ToString("F2")</del>
										<span class="item-price">$@discountedPrice.ToString("F2")</span>
									} else{
										<span class="item-price">$@product.Price.ToString("F2")</span>
									}

								</div>
								<p class="mb-30">
									@product.ShortDescription
								</p>


								<button type="button" class="btn bg-royal-blue add-to-cart" data-product-id="@product.ProductId">
									Add to Cart
								</button>



							</div>
						</div>
					}

				</div>
				@* 
				<div class="pagination-nav ul-li-center clearfix">
					<ul class="clearfix">
						<li><a href="#!"><i class="las la-angle-left"></i></a></li>
						<li><a href="#!">1</a></li>
						<li><a href="#!">2</a></li>
						<li><a href="#!">...</a></li>
						<li><a href="#!">6</a></li>
						<li><a href="#!"><i class="las la-angle-right"></i></a></li>
					</ul>
				</div> *@

			</div>

			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<aside id="sidebar-section" class="sidebar-section clearfix">
					<div class="widget sidebar-search">
						<form action="#">
							<input type="search" name="search" placeholder="Search you Product">
							<button type="submit"><i class="las la-search"></i></button>
						</form>
					</div>
					<div class="widget products-category ul-li-block">
						<h3 class="widget-title">Categories</h3>
						<ul class="clearfix">
							<li><a href="#!">Medecines</a></li>
							<li><a href="#!">Food Supplements</a></li>
							<li><a href="#!">Medical Equipments</a></li>
							<li><a href="#!">Beauty and Health</a></li>
							<li><a href="#!">Dietary Products</a></li>
							<li><a href="#!">Kids Medecine</a></li>
							<li><a href="#!">Kolikata Harbel</a></li>
						</ul>
					</div>
					<div class="widget price-range">
						<h3 class="widget-title"><span>Price Range</span></h3>
						<form action="#">
							<div class="price-range-area">
								<div id="slider-range" class="slider-range"></div>
								<div class="price-text">
									<span>Ranger:</span>
									<input type="text" id="amount" readonly>
								</div>
							</div>
						</form>
					</div>
					<div class="widget brand-products ul-li-block">
						<h3 class="widget-title">Brands</h3>
						<ul class="clearfix">
							<li><a href="#!">Beximco <span>(35)</span></a></li>
							<li><a href="#!">Johnson & Johnson <span>(20)</span></a></li>
							<li><a href="#!">Novarties <span>(120)</span></a></li>
							<li><a href="#!">Gilead Sciences <span>(41)</span></a></li>
							<li><a href="#!">Sonafi <span>(15)</span></a></li>
							<li><a href="#!">Drug International <span>(22)</span></a></li>
							<li><a href="#!">Incepta Pharma <span>(32)</span></a></li>
							<li><a href="#!">ACI <span>(15)</span></a></li>
						</ul>
					</div>

				</aside>
			</div>
		</div>
	</div>
</section>
<!-- shop-section - end
================================================== -->
@section Scripts {

	<script>
		$(document).ready(function () {
			$('.add-to-cart').click(function () {
				const productId = $(this).data('product-id');
				const quantity = 1; // Default quantity

				$.ajax({
					url: '/Cart/AddToCart',
					method: 'POST',
					data: { productId: productId, quantity: quantity },
					success: function (response) {

						updateCartCount();
					},
					error: function (xhr) {
						alert('Error adding product to cart: ' + xhr.responseText);
					}
				});
			});
		});
	</script>


};